#sodas-layers-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    /* max-width: 100vw;
    max-height: 100vh; */
    overflow: hidden;
}

#soda-name-layer {
    display: flex;
    flex-direction: row;
    /* scroll-snap-type: x mandatory; */
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: 100vw;
    max-height: 100vh;
    overflow: hidden;
}

.layer {
    position: absolute;
    /* min-width: 100vw;
    min-height: 100vh; */
    width: 100%;
    height: 100%;
}

.soda-bg {
    position: relative;
    /* scroll-snap-align: start; */
    flex-shrink: 0;
    width: 100vw;
    height: 100vh;
}
.soda-bg.apple {
    background-color: var(--apple-bg);
}
.soda-bg.lemon {
    background-color: var(--lemon-bg);
}
.soda-bg.grappe {
    background-color: var(--grappe-bg);
}
.soda-bg.cherry {
    background-color: var(--cherry-bg);
}

h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Montserrat', sans-serif;
    font-size: 25vw;
    font-weight: 700;
    color: #FFF;
}

#fruit-pieces-layer {
    position: absolute;
    pointer-events: none;
    overflow: hidden;
}

.fruits-decoration {
    position: relative;
    width: 100%;
    height: 100%;
}

#ui-layer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.switch-soda-button-container {
    height: 100%;
    width: 15%;
    cursor: pointer;
    /* background-color: red; */
}

.switch-soda-button-container button {
    background-color: transparent;
    border: none;
    width: 8vw;
    height: 8vw;
    /* border: 2px solid white; */
    border-radius: 50%;
    overflow: hidden;
    transform: perspective(1000rem);
    transition: all 0.2s;
    box-shadow: 0 0 1rem 0 black;
}

.switch-soda-button-container button svg{
    width: 5vw;
    height: 5vw;
    fill: #FFF;
    stroke: black;
    stroke-width: 10px;
    transition: all 0.2s;
}

#previous-soda-button-container:hover button {
    transform: perspective(1000rem) rotateY(-30deg);
}

#next-soda-button-container:hover button {
    transform: perspective(1000rem) rotateY(30deg);
}

#previous-soda-button-container:hover button svg {
    transform: translateX(-1rem);
}
#next-soda-button-container:hover button svg {
    transform: translateX(1rem);
}
#previous-soda-button-container:active button svg {
    transform: translateX(-1.5rem);
}
#next-soda-button-container:active button svg {
    transform: translateX(1.5rem);
}

/* SODA BOTTLE LAYER */
#soda-bottle-layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bottles-container {
    width: 90%;
    max-width: 400px;
    height: 90%;
    max-height: 680px;
    margin-left: auto;
    margin-right: auto;
    -webkit-mask-image: url('../imgs/bottle.png');
    mask-image: url('../imgs/bottle.png');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-size: contain;
    mask-size: contain;
}

#bottle-cover {
    height: 100%;
    width: 400%;
    background-image: url('../imgs/bottle-cover-row.png');
    background-repeat: repeat-x;
    background-position-y: center;
    background-size: contain;
    transition: all 0.2s;
}
#bottle-cover.apple-side {
    transform: translateX(0%);
}
#bottle-cover.lemon-side {
    transform: translateX(-25%);
}
#bottle-cover.soda-side {
    transform: translateX(-50%);
}
#bottle-cover.soda-side {
    transform: translateX(-75%);
}


/* Decorations positioning */
.fruits-decoration.apple img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 40vh;
    height: 40vh;
    transform: translateX(-54%) rotateZ(-43deg);
}
.fruits-decoration.apple img:nth-child(2) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 35vh;
    height: 35vh;
    transform: rotateZ(100deg);
}
.fruits-decoration.apple img:nth-child(3) {
    position: absolute;
    top: 5rem;
    right: -5rem;
    width: 35vh;
    height: 35vh;
    transform: translateX(-15%) rotateZ(60deg);
}
.fruits-decoration.lemon img:nth-child(1) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50vh;
    height: 50vh;
    transform: translateX(-0%);
}
.fruits-decoration.lemon img:nth-child(2) {
    position: absolute;
    bottom: 8rem;
    right: 5rem;
    width: 25vh;
    height: 25vh;
    transform: rotateZ(65deg);
}
.fruits-decoration.lemon img:nth-child(3) {
    position: absolute;
    top: 0;
    left: -0;
    width: 35vh;
    height: 35vh;
    transform: rotateZ(180deg);
}
.fruits-decoration.grappe img:nth-child(1) {
    position: absolute;
    top: 0;
    left: 10%;
    width: 20vh;
    height: 20vh;
    transform: translateX(-0%);
}
.fruits-decoration.grappe img:nth-child(2) {
    position: absolute;
    bottom: 8rem;
    right: 5rem;
    width: 25vh;
    height: 25vh;
    transform: rotateZ(-97deg);
}
.fruits-decoration.grappe img:nth-child(3) {
    position: absolute;
    bottom: -8vh;
    left: -20vh;
    width: 50vh;
    height: 50vh;
    transform: scaleX(-1);
}
.fruits-decoration.cherry img:nth-child(1) {
    position: absolute;
    top: 5%;
    left: -5%;
    width: 40vh;
    height: 40vh;
    transform: rotateZ(-20deg);
}
.fruits-decoration.cherry img:nth-child(2) {
    position: absolute;
    top: 4rem;
    right: 5rem;
    width: 25vh;
    height: 25vh;
    transform: rotateZ(20deg);
}
.fruits-decoration.cherry img:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30vh;
    height: 30vh;
    transform: scaleX(-1);
}
.fruits-decoration img {
    object-fit: contain;
}
