.use-custom-nav {
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 10px;
    right: 0;
    left: 0;
    padding: 0.5rem 0.5rem;
    z-index: 100;
    height: 3rem;
}

.use-custom-nav .nav-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.use-custom-nav .nav-part.logo {
    height: 2rem;
    min-width: 8rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
    font-size: 1.5em;
}

.use-custom-nav .nav-part.logo>img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.use-custom-nav ul {
    list-style: none;
}

.use-custom-nav li {
    display: block;
}

.use-custom-nav .nav-part>ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.use-custom-nav li.dropdown {
    position: relative;
    cursor: pointer;
}

.use-custom-nav li.dropdown>ul {
    display: none;
    flex-direction: column;
    top: 100%;
    left: 0;
}

.use-custom-nav li.dropdown>ul.active {
    /* Change with media-query */
    position: absolute;
    display: flex;
}

.use-custom-nav .nav-part ul>li>a {
    padding: 0.5rem 1rem;
    display: block;
    text-decoration: none;
    color: black;
}

.use-custom-nav .nav-part ul>li>a[data-content-alert] {
    position: relative;
}
.use-custom-nav .nav-part ul>li>a[data-content-alert]::after {
    content: attr(data-content-alert);
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #D02326;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.use-custom-nav .nav-part input {
    border: 2px solid rgba(143, 143, 143, 0.519);
    border-radius: 3px;
    padding: 0.1rem;
}

.use-custom-nav .nav-part input:focus-visible {
    outline: seagreen auto 2px;
}

.use-custom-nav .nav-part.collapser {
    position: relative;
}

.use-custom-nav .md-if-collapse {
    /* md-inverse-flex-collapse n'apparait que quand le moment de collapse est là */
    display: none;
}

.left-separated {
    border-left: 2px solid black;
}
.nav-part.left-separated {
    padding-left: 5%;
}


/* Nav button */
.nav-toggler {
    position: relative;
    width: 3rem;
    height: 3rem;
    border: 3px solid white;
    background-color: transparent;
    border-radius: 3rem;
    transition: all 0.3s;
    -webkit-tap-highlight-color: transparent;
}
.nav-toggler::after, .nav-toggler::before {
    content: "";
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 3rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
}
.nav-toggler:active {
    transform: scale(0.9);
}
.nav-part.active .nav-toggler::after {
    width: 1.5rem;
    height: 0.25rem;
    transform: translate(-50%, -50%) scale(1.4) rotateZ(405deg);
}
.nav-part.active .nav-toggler::before {
    width: 1.5rem;
    height: 0.25rem;
    transform: translate(-50%, -50%) scale(1.4) rotateZ(-405deg);
}

/* Media query */

@media screen and (max-width : 900px) {

    .use-custom-nav .md-if-collapse {
        display: flex;
    }

    .use-custom-nav .md-collapse>ul {
        position: absolute;
        top:110%;
        left: 50%;
        width: 10rem;
        /* display: none; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: white;
        border-radius: 1rem;
        border: 1px solid black;
        transform: translateX(-50%) scale(0.1, 0.1);
        transform-origin: 50% 1rem;
        opacity: 0;
        user-select: none;
        transition: all 0.5s;
    }
    
    .use-custom-nav .active.md-collapse>ul {
        transform: translateX(-50%) scale(1, 1);
        opacity: 1;
    }

    .use-custom-nav .md-collapse>ul li {
        width: 100%;
    }

    .use-custom-nav .md-collapse>ul li:nth-child(1) {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    .use-custom-nav .md-collapse>ul li:last-child {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    .use-custom-nav .md-collapse>ul li:hover {
        background-color: whitesmoke;
    }

    .use-custom-nav .md-collapse li.dropdown>ul.active {
        /* Change with media-query */
        position: relative;
        display: flex;
        margin-left: 0.5rem;
    }
}
